*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
/* @import 'node_modules/dragula/dragula'; */


/*Grid*/


.containerr {
    width: 1200px;
    margin: 0 auto;
}


/*Header*/

.header_diagramaa {
    background: #FFFEFF;
    box-shadow: 0px 3.35311px 7.5445px rgba(0, 0, 0, 0.13);
    height: 125px;
    width: 100%;
}

.container_headerr{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.logo_azul {
    width: 108px;
    height: 124px;
}

.redirencionarr {
    margin-left: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_diagramass {
    font-family: 'Red Hat Mono', monospace;    
    color: white;
    text-decoration:double;
    margin-right: 340px;
    font-size: 25px;
    font-weight:unset;
    width: 196px;
    color: #3F9FE4;
    margin-top: 10px;
}


.geral_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.geral_perfil p {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 40px;
}

.geral_perfil hr {
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: 19px;
    width: 610px;
}

.quadro_perfil_geral {
    margin-left: 345px;
    background-color: #ffffff;
    width: 1200px;
    box-shadow: 0px 0px 10px -3px #000000;
    padding: 28px 28px;
    margin-top: 50px; 
    display: flex;
    margin-bottom: 32px;
}

.imagem_usuario {
    height: 540px;
    width: 540px;
    border-radius: 40px;
}

.info_geral {
    padding: 45px 100px;
}

.name_usuario p {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 25px;
}

.name_usuario input {
    width: 460px;
    padding: 8px;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
    margin-bottom: 40px;
    margin-top: -5px;
}


.email_usuario input {
    width: 460px;
    padding: 8px;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
    margin-bottom: 40px;
    margin-top: -5px;
}

.email_usuario p {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 25px;
}

.senha_usuario input {
    width: 460px;
    padding: 8px;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83); 
    margin-bottom: 80px;
    margin-top: -5px;

}



.senha_usuario p {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 25px;
}

.botao1_usuario {
  border: none;
  width: 310px;
  height: 50px;
  background-color: #3F9FE4;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 120px;
  font-weight: lighter;
  padding: 10px 88px;
}

footer{
    background: #FFFEFF;
    box-shadow: 0px 3.35311px 7.5445px rgba(32, 32, 32, 0.431);
    height: 50px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer span {
    color: rgba(97, 96, 96, 0.555);
  }