*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
/* @import 'node_modules/dragula/dragula'; */


/*Grid*/


.containerr {
    width: 1200px;
    margin: 0 auto;
}



/*Header*/

.header_diagrama {
    background: #FFFEFF;
    box-shadow: 0px 3.35311px 7.5445px rgba(0, 0, 0, 0.13);
    height: 125px;
    width: 100%;
}

.logo_azul {
    width: 108px;
    height: 124px;
}


.container_header {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.redirencionarr_diagrma {
    margin-left: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo_diagramass {
    font-family: 'Red Hat Mono', monospace;    
    color: white;
    text-decoration:double;
    margin-right: 340px;
    font-size: 25px;
    font-weight:unset;
    width: 196px;
    color: #3F9FE4;
    margin-top: 10px;
}

/* Diagramas */

.quadro {
    background: #FFFEFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
    width: 505px;
    height: 750px;
    overflow: hidden;
    overflow-y: scroll;  
}

.quadro::-webkit-scrollbar {
    width: 10px;
    border: none;
}

.quadro::-webkit-scrollbar-thumb{
    background-color: #3981b4;
}


.but_desing {
    background: #3F9FE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 0;
}

.but_budge {
    background: #FFFEFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(88, 70, 70, 0.61);
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.but_budge:hover {
    background-color: #ec7211;
    color: #FFFFFF;

}



.escur:hover {
    background-color: #8a8a8a3f;
    color: #FFFFFF;
    border: none;

}

.but {
    display: flex;
}

.comp_pesquisar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 28px;
}

.comp_pesquisar span {
    font-family: 'Open Sans', sans-serif;
    color: #5f5f5f;
    font-weight: bolder;
    font-size: 18px;
}

.comp_pesquisar input {
    width: 100%;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.83);
}

.comp_pesquisar input:focus-visible{
    outline: unset;
}

.butao_perfil {
  border: none;
  margin-left: -90px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #3F9FE4;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px; 
  padding: 16px 60px;
}

.formata {
    margin-top: -35px;
    margin-left: 200px;
}

.componente_principal {
    background: #3F9FE4;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 0;
}

.componentess {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-left: -17px;
}

.componentes_bt:hover {
    background-color: #8a8a8a21;
    color: #FFFFFF;
    border: none;
}



.componentes_bt {
    background: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 0;
    margin-top: 2px;
    margin-bottom: 9px;
}

.int_get {
    color: #807878a9;
    font-weight: 100;
    font-size: 15px;
    padding: 0px 30px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.componentes_bt span {
    display: flex;
    margin-left: 30px;
    color: #584646;
    font-family: "Open Sans", sans-serif ;
}

.all_itens {
    display: flex;
    
}

.diagrama_fundu {
    margin-left: 300px;
    width: 680px;
    height: 900px;  
    margin-top: -90px;
    transform: rotate(90deg);
}

.resize-drag {
    width: 120px;
    border-radius: 8px;
    padding: 20px;
    margin: 1rem;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  
    touch-action: none;
  
    /* This makes things *much* easier */
    box-sizing: border-box;
  }

  .tittle_diagrama {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    flex-direction: column;
    margin-top: 20px;
}
    
.tittle_diagrama h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 30px;
}

.tittle_diagrama hr {
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: -5px;
    width: 610px;
}

.titulo {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.83);
    border: 0 none;
    outline: 0;
}


.botao_perfil {
    width: 80px;
    height: 80px;
    margin-top: -65px;
}

.perfil_redirencionar {
    margin-left: 1500px;
    margin-top: 15px;
    position: absolute;
}

.perfil_redirencionar p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: -90px;
    
}

.simbols {
    display: flex;
    margin-top: -50px;
    margin-left: 1200px;
}

.simbols img {
    height: 50px;
    width: 50px ;
}

.more {
    margin-right: 10px;
}

.livro {
    height: 85px;
    width: 92px;
    margin-left: -280px;
    margin-top: 16px;
}

#drag-2 {
    height: 515px;
    width: 514px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/ACL.png);
    background-repeat: no-repeat;
  }

  #drag-3 {
    height: 492px;
    width: 492px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/disponibilidade.png);
    background-repeat: no-repeat;
  }
  #drag-4 {
    height: 520px;
    width: 520px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/internet-gateway.png);
    background-repeat: no-repeat;
  }
  #drag-5 {
    height: 395px;
    width: 395px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/nat-gateway.png);
    background-repeat: no-repeat;
  }
  #drag-6 {
    height: 479px;
    width: 514px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/vpc.png);
    background-repeat: no-repeat;
  }

  #drag-8 {
    height: 293px;
    width: 290px;
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    background-image: url(../img/teste.png);
    background-repeat: no-repeat;
  }

.intens_todo {
    width: 100%;
  } 