*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_login {
    margin-bottom: -5px;
    height: 970px;
}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');


.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fundo{
    width: 50%;
    height: 100vh;
    background-image: url(../img/Login-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-input{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 63px;
}

.logo{
    max-width: 490px;
}

.erro {
    margin-top: 10px;
}

.hr_login {
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: -45px;
    width: 600px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.titulo-inputt{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 0.05em;
    margin: 60px 0;
    width: 470px;
    text-align: center;
    margin-top: 20px;
}

.input-login{
    width: 65%;
    padding: 8px;
    border: none;
    border-bottom: 1.07527px solid #000000;
    margin: 12px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
}

.input-login:focus-visible {
    outline: unset;
}

.esqueceu-senha{
    width: 65%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #4E4E4E;
}


.btn-entrar{
    background: #197BC2;
    border-radius: 17px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 73px;
    margin-top: 34px;
    cursor: pointer;
    border: none;
    font-weight: 100;
}

.cadastrar {
    display: flex;
    padding: 20px 73px;
}

.login {
    color: #197BC2;
    text-decoration: none;
    font-weight: 100;
}

@media (max-width: 524px) {

    .container-fundo {
        display: none;
    }

    .logo {
        margin-left: 310px;
        width: 411px;
        height: 145px;
    }

    .titulo-inputt {
        font-size: 30px;
        margin-left: 350px;
        margin-top: 0px;
    }

    .hr_login {
        display: none;
    }

    .form-login {
        margin-left: 345px;
        background-color: #ffffff;
        width: 456px;
        box-shadow:0px 0px 10px -3px #000000;
        padding: 28px 0px;
        margin-top: -30px;
    }

    .form-login input {
      width: 400px;
      font-size: 15px;
    }

    .esqueceu-senha {
        margin-left: 453px;
    }

    .cadastrar {
        margin-left: 364px;
        width: 414px;
    }

    .main-login {
        height: 117vh;
    }

}