.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.474);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_modal {
    background-color: #fff;
    color: #000;
    width: 900px;
    height: 700px; 
    border-radius: 30px;
}

.container_modal h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 50px;
    color: black;
    margin-top: 40px;
    font-weight:lighter;
    margin-left: 400px;
}

#close-position{
    display: flex;
    align-self: flex-start;
    margin: 30px 0px 0px 30px;
    border: none;

    font-size: 40px;
    background-color: #fff;
}

.x {
    height: 30px;
    width: 30px;
    margin-left: 810px;
    margin-top: -90px;
    cursor: pointer;
}